<h3>Dear {{firstName}},</h3>
<p>
  Thank you for creating a disaster plan that will help mitigate unexpected disaster occurences.
  Having a plan will safeguard you (and your loved ones) to ensure that whenever trouble arises, you and your family
  will take the necessary steps on rebuilding or surviving. Below is your customized disaster plan.
</p>

<h3>Your Disaster Plan Details:</h3>
<b>Name: </b>{{firstName}} {{lastName}}
<b>Email: </b>{{email}}
<b>Primary Phone: </b>{{primaryPhone}}
<b>Secondary Phone: </b>{{secondaryPhone}}
<b>Home Address: </b>
{{streetAddress}}
{{streetAddressPt2}}
{{city}}, {{state}} {zip}


<h5><b>Household Members:</b></h5>
{{#each householdMembers}}
<b>{{this.firstName}} {{this.lastName}}</b>
<b>relationship: </b>{{this.relationship}}
<b>email: </b>{{this.email}}
<b>Primary Phone: </b>{{this.primaryPhone}}
<b>Secondary Phone: </b>{{this.secondaryPhone}}
<b>Height: </b>{{this.height}} <b>Weight: </b>{{this.weight}}
<b>Birth Year: </b>{{this.birthYear}}
<b>Current Picture</b> {{picture}}

<b>Work/School Details</b>
{{this.workSchoolName}}
{{this.streetAddress}}
{{this.streetAddressPt2}}
{{this.city}}, {{this.state}} {{this.zip}}
{{/each}}


<h5><b>Your Rally Points</b></h5>
<b>Immidieately outsid of house</b>(in case of fire, etc.):
{{rallyPoints.immediate}}

<b>Out of neighborhood rally point</b>(in case of major disaster):
{{rallyPoints.rallyStreetAddress}}
{{rallyPoints.rallyStreetAddressPt2}}
{{rallyPoints.rallyCity}}, {{rallyPoints.rallyState}} {{rallyPoints.rallyZip}}


<h5><b>Out of state emergency contact</b></h5>(aka ICE)
{{ice.firstName}} {{icd.lastName}}
{{ice.streetAddress}}
{{ice.streetAddressPt2}}
{{ice.city}}, {{ice.state}} {{ice.zip}}
